.header{
   text-align: center;
}
h1{
      text-align: center;
}
p{
    text-align: center;

}
.container{
    width:28%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    margin-left: 450px;
    margin-top:40px;
    column-gap: 0px;

}
.input_box{
    padding:15px;
    width:25%;
    margin-left: 410px;
    margin-top: 30px;
    border-radius: 20px;
    border: none;
    border: 5px rgba(0, 0, 117, 0.671) solid;
}
.box{
    width:10%;
    border: 5px rgb(178, 13, 211) solid;
    padding:10px;
}